html, body {
    /* background: 
        url(../images/chris-lee-412433-unsplash1.jpg) 
        no-repeat 
        right center 
        fixed;
    background-size: cover; */
    scroll-behavior: smooth; 
    height: 100%;
    font-family: 'Scope One', serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

/* .main-content {
    height: 90%;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(83, 82, 82,0.3);
} */

header {
    margin-top: 4.5rem;
}

.main-content {
    height: 500px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(83, 82, 82);
    text-transform: uppercase;
}

h4 {
    text-align: center;
    color: rgb(83, 82, 82);
}

/* .name-logo {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
}
  
.name-logo .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
}
  
.name-logo .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
}
  
.name-logo .star {
    font-family: Baskerville, "EB Garamond", serif;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}
  
.name-logo .letters {
    display: inline-block;
    opacity: 0;
} */

.linkedin-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 20rem;
    width: 19rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* .about-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 50%;
    text-align: justify;
}

.about-text > p {
    margin: 1rem auto;
}

.about-text p:first-child {
    margin-top: 0;
}

.about-text p:last-child {
    margin-bottom: 0;
} */


.nav-link-group {
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 3rem 2rem 3rem;
}

.nav-link-group a {
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link-group a:link {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.nav-link-group a:visited {
    text-decoration: none;
    color: rgb(114, 113, 113);
}

.nav-link-group a:hover {
    text-decoration: none;
    color: rgb(83, 82, 82);
    border: 1px solid rgb(83, 82, 82);
}

.nav-link-group a:active {
    text-decoration: none;
    color: rgb(83, 82, 82);
    border: 1px solid rgb(83, 82, 82);
}

.icons {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.icons a {
    padding: 0 0.3rem;
}

.fab {
    color: rgb(128, 128, 128);
}

span.fab:link {
    color: rgb(128, 128, 128);
}

span.fab:visited {
    color: rgb(128, 128, 128);
}

span.fab:hover {
    color: rgb(83, 82, 82);
    transform: translateY(2px);
}

span.fab:active {
    color: rgb(83, 82, 82);
    transform: translateY(5px);
}

hr {
    width: 50%;
}

/* ========== ABOUT SECTION ========== */

.about-header {
    margin-top: 15rem;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
}

.about-section {
    text-align: center;
    width: 75%;
    height: 500px;
    margin: 10rem auto;
}

.about-text > p {
    line-height: 1.5rem;
    text-align: justify;
}

/* ========== PORTFOLIO SECTION ========== */


/* ========== CONTACT SECTION ========== */

/* ========== FOOTER SECTION ========== */

.sticky-footer {
    flex-shrink: 0;
    background: none;
    text-align: center;
    font-size: 0.65rem;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 768px) {
    hr {
        width: 60%;
    }
}

@media screen and (max-width: 640px) {
    hr {
        width: 70%;
    }
}

@media screen and (max-width: 530px) {
    h1 {
        font-size: 3.5rem;
    }

    hr {
        width: 85%;
    }

    .nav-link-group a {
        display: block;
        margin: 1rem;
        padding: 0.25rem;
        width: 50%;
        margin: 0.5rem auto;
    }
}

@media screen and (max-width: 445px) {

    hr {
        width: 90%;
    }

}

@media screen and (max-width: 392px) {
    h1 {
        font-size: 3.25rem;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 2.75rem;
    }
}