html, body {
    /* background: 
        url(../images/chris-lee-412433-unsplash1.jpg) 
        no-repeat 
        right center 
        fixed;
    background-size: cover; */
    scroll-behavior: smooth; 
    height: 100%;
    font-family: 'Scope One', serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.main-content {
    height: 500px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(83, 82, 82);
    text-transform: uppercase;
}

.name {
    margin-top: 4.5rem;
}

h4 {
    text-align: center;
    color: rgb(83, 82, 82);
}

/* .name-logo {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
}
  
.name-logo .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
}
  
.name-logo .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
}
  
.name-logo .star {
    font-family: Baskerville, "EB Garamond", serif;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}
  
.name-logo .letters {
    display: inline-block;
    opacity: 0;
} */

.linkedin-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 20rem;
    width: 19rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
}

/* .about-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 50%;
    text-align: justify;
}

.about-text > p {
    margin: 1rem auto;
}

.about-text p:first-child {
    margin-top: 0;
}

.about-text p:last-child {
    margin-bottom: 0;
} */


.nav-link-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
    margin: 3rem 3rem 2rem 3rem;
}

.nav-link-group a {
    padding: 2px 50px 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link-group a:link {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.nav-link-group a:visited {
    text-decoration: none;
    color: rgb(114, 113, 113);
}

.nav-link-group a:hover {
    text-decoration: none;
    color: rgb(83, 82, 82);
    border: 1px solid rgb(83, 82, 82);
}

.nav-link-group a:active {
    text-decoration: none;
    color: rgb(83, 82, 82);
    border: 1px solid rgb(83, 82, 82);
}

.icons {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.icons a {
    padding: 0 0.3rem;
    color: rgb(128, 128, 128);
}

.icons span {
    padding: 0 0.3rem;
    color: rgb(128, 128, 128);
}

span.fab:link {
    color: rgb(128, 128, 128);
}

span.fab:visited {
    color: rgb(128, 128, 128);
}

span.fab:hover {
    color: rgb(83, 82, 82);
    transform: translateY(2px);
}

span.fab:active {
    color: rgb(83, 82, 82);
    transform: translateY(5px);
}

span.far:link {
    color: rgb(128, 128, 128);
}

span.far:visited {
    color: rgb(128, 128, 128);
}

span.far:hover {
    color: rgb(83, 82, 82);
    transform: translateY(2px);
}

span.far:active {
    color: rgb(83, 82, 82);
    transform: translateY(4px);
}

span.fas:link {
    color: rgb(128, 128, 128);
}

span.fas:visited {
    color: rgb(128, 128, 128);
}

span.fas:hover {
    color: rgb(83, 82, 82);
    transform: translateY(2px);
}

span.fas:active {
    color: rgb(83, 82, 82);
    transform: translateY(4px);
}

hr {
    width: 80%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    border-bottom: 0.5px solid;
    z-index: 1000;
}
  
.sticky + .content {
    padding-top: 102px;
}

/* ========== ABOUT SECTION ========== */

.about-section {
    text-align: center;
    width: 75%;
    height: 500px;
    margin: 10.5rem auto;
    padding-top: 4.5rem;
}

.about-header {
    padding: 2.5rem 0 2rem 0;
}

h2 {
    font-size: 2.5rem;
}

.about-text > p {
    line-height: 2.5rem;
    font-size: 24px;
    text-align: justify;
    margin-top: 2rem;
}

/* ========== PORTFOLIO SECTION ========== */

.portfolio-section {
    text-align: center;
    width: 75%;
    margin: 10.5rem auto;
    padding-top: 4.5rem;
}

.portfolio-header {
    padding: 2.5rem 0 2rem 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.col {
    position: relative;
    flex: 33%;
    max-width: 50%;
    padding: 0px 10px;
}

.col img {
    width: 100%;
    /* margin-top: 20px; */
    vertical-align: middle;
    box-shadow: 5px 5px 20px 0px rgba(53, 53, 53, 0.31);
}

.project-links {
    position: relative; 
    bottom: 83px; 
    background: rgba(150, 150, 150, 0.7);
    color: #f1f1f1; 
    width: 93%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 18px;
    text-align: center;
}

.col:hover .project-links {
    opacity: 1;
}

.project-name {
    margin-bottom: 5px;
    font-weight: bolder;
}

.project-github, .project-deployed {
    color: rgb(255, 255, 255);
    margin-right: 3px;
    margin-left: 3px;
}

a.project-github:hover {
    color: rgba(255, 255, 255, 0.7);
}

a.project-deployed:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* ========== CONTACT SECTION ========== */

.contact-section {
    text-align: center;
    width: 75%;
    height: 480px;
    margin: 10.5rem auto;
    padding-top: 4.5rem;
}

.contact-header {
    padding: 2.5rem 0 2rem 0;
}

/* ========== GO TO TOP BUTTON SECTION ========== */

#topBtn {
    display: none; 
    position: fixed;
    bottom: 9px; 
    right: 19px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: rgb(128, 128, 128);  
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    font-size: 18px; 
}
  
#topBtn:hover {
    background-color: rgba(83, 82, 82, 0.897); /* Add a dark-grey background on hover */
}


/* ========== FOOTER SECTION ========== */

.sticky-footer {
    flex-shrink: 0;
    background: none;
    text-align: center;
    font-size: 0.65rem;
}

/* ========== MEDIA QUERIES ========== */

/* @media screen and (max-width: 1225px) {
    hr {
        width: 60%;
    }
} */

/* @media screen and (max-width: 1045px) {
    hr {
        width: 70%;
    }
} */
/* 
@media screen and (max-width: 930px) {
    hr {
        width: 80%;
    }
} */

/* @media screen and (max-width: 808px) {
    h1.name {
        font-size: 3.5rem;
    }
    hr {
        width: 80%;
    }
    .nav-link-group a {
        padding: 2px 30px 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
} */

/* @media screen and (max-width: 645px) {
    hr {
        width: 80%;
    }
    .nav-link-group a {
        padding: 2px 15px 0 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
} */

/* @media screen and (max-width: 525px) {
    h1.name {
        margin-top: 3.5rem;
        font-size: 3.5rem;
    }
    .linkedin-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        height: 15rem;
        width: 14rem;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border-radius: 50%;
    }
    .nav-link-group a {
        display: block;
        padding: 5px 0 3px 0;
        width: 45%;
        margin: 0.5rem auto;
    }
} */
/* 
@media screen and (max-width: 445px) {

    hr {
        width: 90%;
    }

} */

/* @media screen and (max-width: 392px) {
    h1 {
        font-size: 3.25rem;
    }
} */

/* @media screen and (max-width: 340px) {
    h1 {
        font-size: 2.75rem;
    }
} */